@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: #F2F2F2;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}
.header__title {
  position: relative;
  align-self: center;
  height: 3rem;
  border: none;
  box-shadow: none;
}
.header__back-arrow {
  font-size: 2rem;
  align-self: center;
  height: 2rem;
  width: 10%;
  padding-left: 5%;
  color: #000000;
  overflow: visible;
}

.presentation {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  margin-top: 0.1rem;
  padding-bottom: 2rem;
}
.presentation__localisation {
  background-color: #E6E6E6;
  font-size: 1.1rem;
  font-weight: bold;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0rem;
}
.presentation__localisation--lieu, .presentation__localisation--map-marker {
  display: inline-block;
  align-self: center;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.presentation__concept {
  display: flex;
}
.presentation__concept h1 {
  text-align: center;
  align-self: center;
  width: 60%;
  padding-top: 2rem;
  font-weight: bold;
}
.presentation__concept--texte {
  text-align: center;
  align-self: center;
  width: 70%;
  font-weight: lighter;
  padding-top: 1rem;
}
.presentation__concept--button {
  display: flex;
  justify-content: center;
  color: white;
  height: 3rem;
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  text-decoration: none;
  align-self: center;
  align-items: center;
  font-weight: bold;
  border: none;
  margin-bottom: 2rem;
  font-weight: normal;
  align-self: center;
  width: auto;
  text-align: center;
}
.presentation__concept--button:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem #cccccc;
  background: none;
  background-color: #FF79DA;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  overflow-y: hidden;
  z-index: 0;
}
@media screen and (min-width: 429px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
}
.fonctionnement--texte {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 5%;
}
.fonctionnement__numerotation {
  color: #9356DC;
  font-size: 1.2rem;
  position: relative;
  top: 1.6rem;
  left: 2%;
  padding-bottom: 0rem;
  z-index: 2;
  width: 3rem;
}
@media screen and (min-width: 429px) and (max-width: 1023px) {
  .fonctionnement__numerotation {
    position: relative;
    right: 22.5%;
    left: unset;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__numerotation {
    position: relative;
    right: 15%;
    left: unset;
  }
}
.fonctionnement__numerotation--cercle {
  font-size: 1.5rem;
  position: relative;
  right: 0rem;
}
.fonctionnement__numerotation--chiffre {
  color: #F2F2F2;
  position: relative;
  top: -1.45rem;
  font-size: 1.1rem;
  left: 0.4rem;
  z-index: 4;
}
@media screen and (min-width: 429px) and (max-width: 1023px) {
  .fonctionnement__numerotation--chiffre {
    position: relative;
    left: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__numerotation--chiffre {
    left: 40%;
    position: relative;
  }
}
.fonctionnement__encadree {
  background-color: #F2F2F2;
  height: 5rem;
  padding-left: 5%;
  margin-left: 5%;
  border-radius: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  bottom: 3rem;
  z-index: -1;
  box-shadow: 0rem 0.3rem 0.3rem #999999;
  padding-bottom: 0rem;
  padding-top: 0rem;
  width: 85%;
  z-index: 1;
}
.fonctionnement__encadree:hover {
  background-color: white;
  box-shadow: 0rem 0.3rem 0.3rem #4d4d4d;
}
@media screen and (min-width: 429px) and (max-width: 1023px) {
  .fonctionnement__encadree {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__encadree {
    width: 30%;
  }
}
.fonctionnement__encadree--violet {
  background-color: #F1EAFB;
}
.fonctionnement__encadree--icone {
  font-size: 1.2rem;
  color: #999999;
  width: 2rem;
  height: 1.3rem;
  padding-left: 0.5rem;
}
.fonctionnement__encadree--icone--violet {
  color: #9356DC;
  padding-left: 0.5rem;
  width: 2rem;
}
.fonctionnement__encadree--texte {
  font-weight: bold;
  font-size: 1rem;
  height: 1.3rem;
  position: static;
  box-shadow: none;
  background-color: inherit;
}
.fonctionnement__encadree--texte:hover {
  background-color: white;
  box-shadow: none;
}
@media screen and (min-width: 429px) {
  .fonctionnement__encadree--texte {
    width: 90%;
  }
}

.navigation {
  width: 100%;
  background-color: #F2F2F2;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 429px) {
  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.navigation h1 {
  padding-left: 5%;
  width: 100%;
}
.navigation a {
  text-decoration: none;
  overflow-y: hidden;
}
.navigation__miniature {
  width: 90%;
  height: 17rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 2rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
}
@media screen and (min-width: 429px) and (max-width: 1440px) {
  .navigation__miniature {
    width: 42.5%;
  }
}
@media screen and (min-width: 1441px) {
  .navigation__miniature {
    width: 19%;
  }
}
.navigation__miniature--photo {
  width: 100%;
  height: 11rem;
  max-width: 100%;
  object-fit: cover;
  margin-left: 0%;
  border-radius: 1rem 1rem 0 0;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.navigation__miniature--nouveau {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  height: 1.5rem;
  width: fit-content;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #99E2D0;
  color: #2D9F83;
  border-radius: 0.2rem;
  position: relative;
  bottom: 19rem;
  left: 60%;
  z-index: 2;
}
.navigation__miniature--nom {
  color: #000000;
  font-size: 1.3rem;
  padding-left: 5%;
  height: 5rem;
  padding-top: 0.8rem;
}
.navigation__miniature--nom h2 {
  font-size: 1.3rem;
}
.navigation__miniature--localisation {
  color: #000000;
  font-size: 1.3rem;
  font-weight: lighter;
  padding-top: 0.5rem;
}
.navigation__miniature--icone {
  font-size: 1.5rem;
  color: #000000;
  position: relative;
  bottom: 1rem;
  left: 75%;
}

.footer {
  clear: both;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 10rem;
  padding-bottom: 2rem;
}
.footer__fonts {
  display: flex;
  font-size: 1rem;
  color: #F2F2F2;
  text-decoration: none;
  padding-left: 3%;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
}
.footer__fonts--texte {
  width: 80%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.footer__fonts--icone {
  padding-right: 2%;
}
.footer__fonts--taille {
  font-size: 0.7rem;
}
.footer__fonts--logo {
  font-family: "Shrikhand";
  font-size: 1.1rem;
  padding-left: 2rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  color: #F2F2F2;
}

.carte {
  width: 100%;
  overflow: visible;
}
.carte__photo {
  width: 100%;
  height: 18rem;
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .carte__photo {
    height: 30rem;
  }
}
.carte__menu {
  background-color: #F2F2F2;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 0rem 0rem;
  position: relative;
  bottom: 2rem;
}
.carte__menu--nom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand";
  flex-direction: row;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .carte__menu--nom {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.carte__menu--type {
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: lighter;
  padding-bottom: 1rem;
  padding-top: 2rem;
  text-decoration: underline #99E2D0;
  text-decoration-thickness: 0.3rem;
}
@media screen and (min-width: 1024px) {
  .carte__menu--type {
    text-align: center;
    padding-left: 0;
  }
}

.font {
  background-color: #F2F2F2;
}

.selection {
  width: 95%;
  background-color: #FFFFFF;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  margin-left: 2.5%;
  height: 5rem;
  margin-bottom: 1rem;
  box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1024px) {
  .selection {
    width: 45%;
    margin-left: 27.5%;
  }
}
.selection--checkbox {
  display: none;
}
.selection__nom {
  z-index: 1;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selection__nom--nom {
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-family: "Roboto";
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selection__nom--recette {
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: "Roboto";
  font-weight: lighter;
  height: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selection__prix {
  align-self: flex-end;
  width: 4rem;
  z-index: 3;
  padding-bottom: 0.5rem;
}
.selection__validation {
  font-size: 2rem;
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
}
.selection__animation {
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: -1;
  visibility: collapse;
  line-height: 0;
}

.choix:hover .selection__animation {
  z-index: 2;
  visibility: visible;
}

.button {
  display: flex;
  justify-content: center;
  color: white;
  height: 3rem;
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  text-decoration: none;
  align-self: center;
  align-items: center;
  font-weight: bold;
  border: none;
  margin-bottom: 2rem;
  margin-left: 25%;
}

.favoris1 {
  position: relative;
  left: 0.2rem;
  bottom: -0.2rem;
  z-index: 1;
  opacity: 1;
}
.favoris1--carte {
  position: relative;
  left: 0.2rem;
  bottom: -0.2rem;
  opacity: 1;
  z-index: 1;
}

.favoris2 {
  left: 0.21rem;
  bottom: 1.53rem;
  opacity: 0;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.favoris2--carte {
  position: relative;
  left: -1.6rem;
  bottom: -0.2rem;
  opacity: 0;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.favoris {
  overflow-x: visible;
  height: 2rem;
  width: 2rem;
  position: relative;
  bottom: 3.5rem;
  left: 85%;
  z-index: 1;
}
.favoris--carte {
  position: relative;
  bottom: 0rem;
  left: 2rem;
  z-index: 1;
}

.favoris:hover {
  cursor: pointer;
}
.favoris:hover > .favoris1 {
  animation: favoris1 1s both ease-in-out;
}
.favoris:hover > .favoris2 {
  animation: favoris2 1s both ease-in-out;
}

.favoris--carte:hover {
  cursor: pointer;
}
.favoris--carte:hover > .favoris1--carte {
  animation: favoris1 1s both ease-in-out;
}
.favoris--carte:hover > .favoris2--carte {
  animation: favoris2 1s both ease-in-out;
}

@keyframes favoris1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes favoris2 {
  0% {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
}
.validation {
  visibility: hidden;
  width: 8rem;
  height: 5rem;
  background-color: #99E2D0;
  color: white;
}
@media screen and (min-width: 429px) {
  .validation {
    width: 7rem;
  }
}
.validation--checked {
  color: white;
}

.validation-checked {
  display: none;
}

.choix:hover .animation--prix {
  animation: validation 1s backwards ease-in-out;
  left: 0rem;
}

.choix:hover .validation {
  visibility: visible;
  animation: validation 1s both ease-in-out;
}
.choix:hover .validation i {
  animation: checked 1s both ease-in-out;
}

@keyframes validation {
  0% {
    -moz-transform: translateX(5rem);
    -webkit-transform: translateX(5rem);
    -ms-transform: translateX(5rem);
    -o-transform: translateX(5rem);
  }
  100% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes checked {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.loader {
  position: absolute;
  width: 100%;
  height: 100rem;
  font-size: 4rem;
  visibility: visible;
  animation: loader 2s backwards;
  background-color: white;
  opacity: 0;
  z-index: -1;
}

.utensils {
  animation: utensils 2s ease-in-out;
  position: absolute;
  margin-left: 35%;
  height: 4rem;
}
@media screen and (min-width: 429px) and (max-width: 1023px) {
  .utensils {
    margin-left: 20%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .utensils {
    margin-left: 15%;
  }
}
@media screen and (min-width: 1440px) {
  .utensils {
    margin-left: 10%;
  }
}

.nom {
  animation: nom 2s ease-in-out forwards;
  font-family: "Shrikhand";
  position: absolute;
  top: 20rem;
  width: 100%;
  margin-left: 5%;
}
@media screen and (min-width: 429px) and (max-width: 1023px) {
  .nom {
    margin-left: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .nom {
    margin-left: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .nom {
    margin-left: 35%;
  }
}

@keyframes utensils {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    z-index: 2;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: 2;
    opacity: 0;
  }
}
.cascade__position1 {
  animation: cascade 1s 100ms both ease-in-out;
}
.cascade__position2 {
  animation: cascade 1s 200ms both ease-in-out;
}
.cascade__position3 {
  animation: cascade 1s 300ms both ease-in-out;
}
.cascade__position4 {
  animation: cascade 1s 400ms both ease-in-out;
}
.cascade__position5 {
  animation: cascade 1s 500ms both ease-in-out;
}
.cascade__position6 {
  animation: cascade 1s 600ms both ease-in-out;
}
.cascade__position7 {
  animation: cascade 1s 700ms both ease-in-out;
}
.cascade__position8 {
  animation: cascade 1s 800ms both ease-in-out;
}
.cascade__position9 {
  animation: cascade 1s 900ms both ease-in-out;
}
.cascade__position10 {
  animation: cascade 1s 1000ms both ease-in-out;
}
.cascade__position11 {
  animation: cascade 1s 1100ms both ease-in-out;
}
.cascade__position12 {
  animation: cascade 1s 1200ms both ease-in-out;
}
.cascade__position13 {
  animation: cascade 1s 1300ms both ease-in-out;
}
.cascade__position14 {
  animation: cascade 1s 1400ms both ease-in-out;
}
.cascade__position15 {
  animation: cascade 1s 1500ms both ease-in-out;
}
.cascade__position16 {
  animation: cascade 1s 1600ms both ease-in-out;
}
.cascade__position17 {
  animation: cascade 1s 1700ms both ease-in-out;
}
.cascade__position18 {
  animation: cascade 1s 1800ms both ease-in-out;
}
.cascade__position19 {
  animation: cascade 1s 1900ms both ease-in-out;
}
.cascade__position20 {
  animation: cascade 1s 2000ms both ease-in-out;
}
.cascade__position21 {
  animation: cascade 1s 2100ms both ease-in-out;
}
.cascade__position22 {
  animation: cascade 1s 2200ms both ease-in-out;
}
.cascade__position23 {
  animation: cascade 1s 2300ms both ease-in-out;
}
.cascade__position24 {
  animation: cascade 1s 2400ms both ease-in-out;
}
.cascade__position25 {
  animation: cascade 1s 2500ms both ease-in-out;
}
.cascade__position26 {
  animation: cascade 1s 2600ms both ease-in-out;
}
.cascade__position27 {
  animation: cascade 1s 2700ms both ease-in-out;
}
.cascade__position28 {
  animation: cascade 1s 2800ms both ease-in-out;
}
.cascade__position29 {
  animation: cascade 1s 2900ms both ease-in-out;
}
.cascade__position30 {
  animation: cascade 1s 3000ms both ease-in-out;
}
.cascade__position31 {
  animation: cascade 1s 3100ms both ease-in-out;
}
.cascade__position32 {
  animation: cascade 1s 3200ms both ease-in-out;
}
.cascade__position33 {
  animation: cascade 1s 3300ms both ease-in-out;
}
.cascade__position34 {
  animation: cascade 1s 3400ms both ease-in-out;
}
.cascade__position35 {
  animation: cascade 1s 3500ms both ease-in-out;
}

@keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=Styles.css.map */
