$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-lightgrey: #F2F2F2;
$background-darkerlightgrey: #E6E6E6;
$background-purplegrey: #F1EAFB;
$fontsize-content: 1rem;
$breakpoint-smallscreen: 500px;
$breakpoint-desktop: 980px;
$fontcolor-icone: #999999;
$height-selection: 3rem;
$position-cascade: (position1 : 100ms, position2 : 200ms, position3 : 300ms, position4 : 400ms, position5 : 500ms, position6 : 600ms, position7 : 700ms, position8 : 800ms, position9 : 900ms, position10 : 1000ms, position11 : 1100ms, position12 : 1200ms, position13 : 1300ms, position14 : 1400ms, position15 : 1500ms, position16 : 1600ms, position17 : 1700ms, position18 : 1800ms, position19 : 1900ms, position20 : 2000ms);
