.favoris1 {
    position: relative;
    left: 0.2rem;
    bottom: -0.2rem;
    z-index: 1;
    opacity: 1;
    &--carte {
        position: relative;
        left: 0.2rem;
        bottom: -0.2rem;
        opacity: 1;
        z-index: 1;
    }
}

.favoris2 {
    left: 0.2rem;
    bottom: 1.5rem;
    opacity: 0;
    background: linear-gradient(to bottom, $color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    &--carte {
        position: relative;
        left: -1.6rem;
        bottom: -0.2rem;
        opacity: 0;
        background: linear-gradient(to bottom, $color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.favoris {
    overflow-x: visible;
    height: 2rem;
    width: 2rem;
    position: relative;
    bottom: 3.5rem;
    left: 18rem;
    z-index: 1;
    &--carte {
        position: relative;
        bottom: 0rem;
        left: 2rem;
        z-index: 1;
    }
}


.favoris:hover {
        cursor: pointer;
    & > .favoris1 {
        animation: favoris1 1s both ease-in-out;
    }
    & > .favoris2 {
        animation: favoris2 1s both ease-in-out;
    }
}

.favoris--carte:hover {
    cursor: pointer;
    & > .favoris1--carte {
        animation: favoris1 1s both ease-in-out;
    }
    & > .favoris2--carte {
        animation: favoris2 1s both ease-in-out;
    }
}

@keyframes favoris1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes favoris2 {
    0% {
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
    }
}

.validation {
    visibility: hidden;
    width: $height-selection;
    height: $height-selection;
    background-color: $color-tertiary;
    color: white;
    &--checked {
        color: white;
    }
}

.validation-checked {
    display: none;
}

.choix:hover .validation {
    visibility: visible;
    animation: validation 1s both ease-in-out;
    i {
        animation: checked 1s both ease-in-out;
    }
}

@keyframes validation {
    0% {
        -moz-transform: translateX($height-selection);
        -webkit-transform: translateX($height-selection);
        -ms-transform: translateX($height-selection);
        -o-transform: translateX($height-selection);
    }
    100% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes checked {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.loader {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100rem;
    visibility: visible;
    animation: loader 2s backwards;
    background-color: white;
    opacity: 0;
}

.utensils {
    animation: utensils 2s ease-in-out;
}

.nom {
    animation: nom 2s ease-in-out forwards;
    font-family: "Shrikhand";
}

@keyframes utensils {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.cascade {
    @include animation-cascade ($position-cascade);
}

@keyframes cascade {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}