.selection {
    width: 95%;
    background-color: #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    margin-left: 2.5%;
    height: $height-selection;
    margin-bottom: 1rem;
    box-shadow: 0rem 0.5rem 0.5rem rgba($color: #000000, $alpha: 0.1);
    @media screen and (min-width: 1024px) {
        width: 45%;
        margin-left: 27.5%;
    }
    &--checkbox {
        display: none;
    }
    &__nom {
        z-index: 1;
        flex-direction: column;
        width: 250vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &--nom {
            padding-top: 0.5rem;
            padding-left: 1rem;
            font-family: "Roboto";
            height: 1.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &--recette {
            padding-top: 1rem;
            padding-left: 1rem;
            font-family: "Roboto";
            font-weight: lighter;
            height: 1.4rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__prix {
        align-self: flex-end;
        width: 25vh;
        z-index: 3;
        padding-bottom: 0.5rem;
        @media screen and (min-width: 429px) {
            width: 10vh;
        }
    }
    &__validation {
        font-size: 2rem;
        position: relative;
        top: 1.5rem;
        left: 1.5rem;
    }
    &__animation {
        background-color: white;
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        z-index: -1;
        position: relative;
        left: 5rem;
    }
}

.choix:hover .selection__animation {
    z-index: 2;
    left: 0rem;
}

.choix:hover .selection__nom {
    width: 100%;
}

.choix:hover .selection__prix {
    width: 4rem;
}

.button {
    @include purple_button;
    margin-left: 25%;
}