.carte {
    width: 100%;
    overflow: visible;
    &__photo {
        width: 100%;
        height: 18rem;
        max-width: 100%;
        object-fit: cover;
        position: relative;
        @media screen and (min-width:1024px) {
            height: 30rem;
        }
    }
    &__menu {
        background-color: $background-lightgrey;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 2rem 2rem 0rem 0rem;
        position: relative;
        bottom: 2rem;
        &--nom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: "Shrikhand";
            flex-direction: row;
            padding-right: 2rem;
            padding-left: 2rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            font-size: 1.6rem;
            @media screen and (min-width: 1024px) {
                padding-left: 15%;
                padding-right: 15%;
            }
        }
        &--type {
            font-size: 1rem;
            padding-left: 1rem;
            font-weight: lighter;
            padding-bottom: 1rem;
            padding-top: 2rem;
            text-decoration: underline $color-tertiary;
            text-decoration-thickness: 0.3rem ;
            @media screen and (min-width: 1024px) {
                text-align: center;
                padding-left: 0;
            }
        }
    }
}

.font {
    background-color: $background-lightgrey;
}